{% extends 'layout.html' %}
{% block content %}
 <article class="media content-section">
     <div class="media-body">
            <h2 class="article-title">ABOUT US</h2>
            <p class="article-content">Trinidad Multimedia Group (TMG)</p>
            <p class="article-content">At TMG inc. we believe there is a better way to do software development. A more valuable, less invasive way where customers are earned rather than bought.
            We're obsessively passionate about it and we strive to help people achieve this. </p>
            <h2 class="article-title">Contact Us</h2>
            <p class="article-content">Email: TMGBunting@gmail.com
            Phone: 1-868-222-2222</p>
          </div>
        </article>
{% endblock content %}
